body{
    font-family: Arial, sans-serif;
    background:#f5f7fb;
    margin:0;
}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding:20px 50px;
    background:white;
    box-shadow: 0 2px 10px rgba(0,0,0,0.08);
}
.logo {
    color: #2c3e50;
}

.nav-links{
    display:flex;
    gap:25px;
}

.nav-links a{
    text-decoration:none;
    color: #2c3e50;
    font-weight: bold;
}

.budget-header{
    text-align:center;
    padding:40px;
}

.budget-cards{
    display:flex;
    justify-content:center;
    gap:25px;
    flex-wrap:wrap;
}

.budget-card{
    width:250px;
    background:white;
    padding:25px;
    border-radius:15px;
    text-align:center;
}

.budget-card span{
    display:block;
    margin-top:15px;
    font-size:28px;
    font-weight:bold;
}

.budget{
    border-top:5px solid #063af1;
}

.spent{
    border-top:5px solid #e74c3c;
}

.remaining{
    border-top:5px solid #27ae60;
}

.progress-section{
    max-width:700px;
    margin:40px auto;
    text-align:center;
}

.progress-bar{
    width:100%;
    height:25px;
    background:#ddd;
    border-radius:20px;
    overflow:hidden;
}

.progress-fill{
    width:42%;
    height:100%;
    background:#3498db;
}

.update-budget{
    max-width:500px;
    margin:50px auto;
    background:white;
    padding:30px;
    border-radius:15px;
}

.update-budget form{
    display:flex;
    flex-direction:column;
    gap:15px;
}

.update-budget input{
    padding:12px;
}

.update-budget button{
    padding:12px;
    background:#3498db;
    color:white;
    border:none;
    border-radius:8px;
}

.alert-warning {
    color: red;
    font-size: 14px;
    margin-top: 5px;
    font-weight: 500;
    font-style: italic;
}

.success-message {
    color: #0bb610;
    font-size: 14px;
    margin-top: 5px;
    font-weight: 500;
    font-style: italic;
}