body{
    font-family: Arial, sans-serif;
    background:#f5f7fb;
    margin:0;
}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding:20px 50px;
    background:white;
    box-shadow: 0 2px 10px rgba(0,0,0,0.08);
}

.logo {
    color: #2c3e50;
}

.nav-links{
    display:flex;
    gap:25px;
}

.nav-links a{
    text-decoration:none;
    color: #2c3e50;
    font-weight: bold;
}

.page-header{
    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:30px 60px;
}

.add-btn, .delete-btn, .edit-btn{
    background:#27ae60;
    color:white;
    padding:12px 20px;
    text-decoration:none;
    border-radius:8px;
}


.edit-btn{
    background: #4364ed;
}
.delete-btn{
    background: #ef4444;
}

.transactions-table{
    padding:20px 60px;
}

table{
    width:100%;
    border-collapse:collapse;
    background:white;
}

th, td{
    text-align: left;
    padding:15px;
}

thead{
    background:#3498db;
    color:white;
}

.income{
    color:#27ae60;
    font-weight:bold;
}

.expense{
    color:#e74c3c;
    font-weight:bold;
}

.success-message {
    background-color: #ffe6e6;
    color: #00ff04;
    border: 1px solid #17d343;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
}

.error {
    background-color: #ffe6e6;
    color: #d32f2f;
    border: 1px solid #d32f2f;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
}