<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add Expense Transaction | FinanceTracker</title>
    <link rel="stylesheet" href="/css/add-transaction.css">
</head>
<body>

<header>
    <nav class="navbar">
        <h2>FinanceTracker</h2>

        <div class="nav-links">
            <a href="/dashboard">Dashboard</a>
            <a href="/budget">Budget</a>
            <a href="/savings">Savings</a>
            <a href="/transactions">Transactions</a>
            <div sec:authorize="hasRole('ROLE_ADMIN')">
                <a href="/admin/users">Users</a>
                <span> | </span>
                <a href="/admin/reports">Reports</a>
            </div>
            <a href="/logout" class="logout-btn">Logout</a>
        </div>
    </nav>
</header>

<main>

    <div class="form-container">

        <div class="form-card">

            <h1>Add Expense Transaction</h1>

            <form th:action="@{/transactions/add/expense}" th:object="${expenseTransactionRequest}" th:method="post">

                <div class="form-group">
                    <label>Amount</label>
                    <input type="number"
                           name="amount"
                           placeholder="Enter amount"
                           th:field="*{expenseAmount}">
                    <p class="alert-warning" th:if="${#fields.hasErrors('expenseAmount')}" th:errors="*{expenseAmount}"></p>
                </div>

                <div class="form-group">
                    <label>Category</label>

                    <select th:field="*{expenseCategory}">
                        <option value="">Select category</option>
                        <option th:each="categoryType : ${T(app.model.entities.transaction.CategoryType).values()}"
                                th:value="${categoryType}"
                                th:text="${categoryType}">
                        </option>
                    </select>
                    <p class="alert-warning" th:if="${#fields.hasErrors('expenseCategory')}" th:errors="*{expenseCategory}"></p>
                </div>

                <button type="submit" class="save-btn">
                    Save Transaction
                </button>

            </form>

        </div>

    </div>

</main>

</body>
</html>