<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Budget | FinanceTracker</title>
    <link rel="stylesheet" href="/css/budget.css">
</head>
<body>

<header>
    <nav class="navbar">
        <h2 class="logo">FinanceTracker</h2>

        <div class="nav-links">
            <a href="/dashboard">Dashboard</a>
            <a href="/transactions">Transactions</a>
            <a href="/budget">Budget</a>
            <a href="/savings">Savings</a>
            <a href="/report-history">Report History</a>
            <a href="/profile">Profile</a>
            <div sec:authorize="hasRole('ROLE_ADMIN')">
                <a href="/admin/users">Users</a>
                <span> | </span>
                <a href="/admin/statistics">Statistics</a>
            </div>
            <a href="/logout" class="logout-btn">Logout</a>
        </div>
    </nav>
</header>

<main>

    <section class="budget-header">
        <h1>Monthly Budget</h1>
        <span th:text="${budget.month != null ? budget.month : ''}"></span>
        <span th:text="' ' + ${budget.year != null ? budget.year : ''}"></span>
    </section>

    <section class="budget-cards">

        <div class="budget-card budget" th:action="@{/dashboard}">
            <h3 >Total Budget</h3>
            <span th:text="${@currencyFormatter.format(budget.monthlyLimit)}"></span>
        </div>

        <div class="budget-card spent">
            <h3>Spent</h3>
            <span th:text="${@currencyFormatter.format(spent)}"></span>
        </div>

        <div class="budget-card remaining">
            <h3>Remaining</h3>
            <span th:text="${@currencyFormatter.format(remaining)}"></span>
        </div>

    </section>

    <section class="update-budget">

        <h2>Update Budget</h2>

        <form th:action="@{/budget}" th:object="${monthlyBudgetRequest}" th:method="post" onsubmit="return confirm('Are you sure that you want to change the budget?')">

            <input
                    type="number"
                    placeholder="Enter new budget amount" th:field="*{monthlyBudget}">
            <p class="alert-warning" th:if="${#fields.hasErrors('monthlyBudget')}" th:errors="*{monthlyBudget}"></p>

            <button type="submit">
                Save Budget
            </button>
            <p class="success-message" th:if="${param.success}"> ✔️ Budget updated successfully.</p>

        </form>

    </section>

</main>

</body>
</html>