<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Budget | FinanceTracker</title>
    <link rel="stylesheet" href="/css/budget.css">
</head>
<body>

<header>
    <nav class="navbar">
        <h2>FinanceTracker</h2>

        <div class="nav-links">
            <a href="/dashboard">Dashboard</a>
            <a href="/budget">Budget</a>
            <a href="/savings">Savings</a>
            <a href="/transactions">Transactions</a>
            <a href="/admin/users">Users</a>
            <a href="/admin/reports">Reports</a>
            <a href="/logout" class="logout-btn">Logout</a>
        </div>
    </nav>
</header>

<main>

    <section class="budget-header">
        <h1>Monthly Budget</h1>
    </section>

    <section class="budget-cards">

        <div class="budget-card" th:action="@{/dashboard}">
            <h3 >Total Budget</h3>
            <span th:text="'€ ' + ${#numbers.formatDecimal(budget.monthlyLimit, 1, 2)}"></span>
        </div>

        <div class="budget-card spent">
            <h3>Spent</h3>
            <span th:text="'€ ' + ${#numbers.formatDecimal(spent, 1, 2)}"></span>
        </div>

        <div class="budget-card remaining">
            <h3>Remaining</h3>
            <span th:text="'€ ' + ${#numbers.formatDecimal(remaining, 1, 2)}"></span>
        </div>

    </section>

    <section class="update-budget">

        <h2>Update Budget</h2>

        <form th:action="@{/budget}" th:object="${monthlyBudgetRequest}" th:method="post" onsubmit="return confirm('Are you sure that you want to change the budget?')">

            <input
                    type="number"
                    placeholder="Enter new budget amount" th:field="*{monthlyBudget}">
            <p class="alert-warning" th:if="${#fields.hasErrors('monthlyBudget')}" th:errors="*{monthlyBudget}"></p>

            <button type="submit">
                Save Budget
            </button>
            <p class="success-message" th:if="${param.success}"> Budget saved successfully.</p>

        </form>

    </section>

</main>

</body>
</html>