<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Saving Goals | FinanceTracker</title>
    <link rel="stylesheet" href="/css/savings.css">
</head>
<body>

<header>
    <nav class="navbar">
        <h2>FinanceTracker</h2>

        <div class="nav-links">
            <a href="/dashboard">Dashboard</a>
            <a href="/budget">Budget</a>
            <a href="/savings">Savings</a>
            <a href="/transactions">Transactions</a>
            <a href="/admin/users">Users</a>
            <a href="/admin/reports">Reports</a>
            <a href="/logout" class="logout-btn">Logout</a>
        </div>
    </nav>
</header>

<main>

    <section class="page-header">
        <h1>Saving Goals</h1>

        <a href="/savings/add" class="btn-add">
            + Add Goal
        </a>
    </section>

    <section class="goals-container">

        <div th:if="${errorMessage}" class="error">
            <p th:text="${errorMessage}"></p>
        </div>

        <div class="goal-card"
             th:each="goal : ${savingGoals}">

            <h3 th:text="${goal.goalName}">
            </h3>

            <div class="goal-info">
                <span>Target:</span>
                <strong th:text="${goal.targetAmount}">
                </strong>
            </div>

            <div class="goal-info">
                <span>Saved:</span>
                <strong th:text="${goal.currentAmount}">
                </strong>
            </div>

            <div class="goal-info">
                <span>Target Date:</span>
                <strong th:text="${#temporals.format(goal.targetDate, 'dd/MM/yyyy')}">
                </strong>
            </div>


            <div class="goal-actions">

                <a th:href="@{/savings/{id}/edit(id=${goal.id})}"
                   class="btn-edit">
                    Edit
                </a>


                <form  th:action="@{/savings/{id}/delete(id=${goal.id})}" th:method="post">
                    <button type="submit" class="btn-delete">
                        Delete
                    </button>
                </form>


            </div>

        </div>
    </section>

</main>

</body>
</html>